@font-face {
  font-family: 'Quicksand';
  src: url('Quicksand-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/*FORMATAÇÃO DA BARRA DE NAVEGAÇÃO*/

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #c7e9cd;
    border-bottom: 2px solid #96b79e;
    padding: 10px 20px;
    font-family:'Times New Roman', Times, serif;   
}

.navbar a {
    text-decoration: none;
    color: #2f3d33;
    font-size: 25px;
    margin: 0px 15px;
}

.navbar a:hover {
  color: #007c29;
  transition: color 0.3s;
}

.icon {
    width: 40px;
    height: 40px;
}

/*FORMATAÇÃO GERAL*/

body {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    background-color: #f7fff8;
    color: #2d2d2d;
}

main {
    margin-top: 100px;
    margin-left: 50px;
}

h1 {
    font-size: 40px;
    margin: 30px 0 30px 0;
}

h2 {
    font-size: 30px;
    margin: 20px 0 20px 0;
}

p {
    font-family: Arial, sans-serif;
    color: #353535;
    font-size: 20px;
    margin: 30px 0 30px 0;
}

.landing-page-image {
    width: 100%;
    height: 600px;
    object-fit: cover;
}

footer {
    background-color: #c7e9cd;
    border-top: 2px solid #96b79e;
    width: 100%;
    padding: 20px 20px 60px 20px;
    color: #2b3a31;
}